doctype html
html(lang='en')

    head

        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
        meta(name='description', content='')
        meta(name='author', content='')

        title Kele Klíma épületgépészet

        // Favicon
        link(rel='icon', type='image/x-icon', href='assets/img/favicon.ico')

        // Font Awesome icons (free version)
        script(src='https://use.fontawesome.com/releases/v5.15.1/js/all.js', crossorigin='anonymous')

        // Google fonts
        link(href='https://fonts.googleapis.com/css?family=Merriweather+Sans:400,700', rel='stylesheet')
        link(href='https://fonts.googleapis.com/css?family=Merriweather:400,300,300italic,400italic,700,700italic', rel='stylesheet', type='text/css')

        // Third party plugin CSS
        link(href='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.min.css', rel='stylesheet')

        // Core theme CSS (includes Bootstrap)
        link(href='css/styles.css', rel='stylesheet')
        
    body#page-top

        // Navigation
        nav#mainNav.navbar.navbar-expand-lg.navbar-light.fixed-top
            .container

                a.navbar-brand.js-scroll-trigger(href='#page-top')
                    img.navbar-logo(src="assets/img/logo.svg")
                    div                   
                        b Kele
                        span Klíma
                a(href="tel:+36202373117").navbar-brand.phone 
                    | +36 20 237 31 17
                button.navbar-toggler.navbar-toggler-right(type='button', data-toggle='collapse', data-target='#navbarResponsive', aria-controls='navbarResponsive', aria-expanded='false', aria-label='Toggle navigation')
                    span.navbar-toggler-icon
                #navbarResponsive.collapse.navbar-collapse
                    ul.navbar-nav.ml-auto.my-2.my-lg-0
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#about') Klímaszerelés
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#services') Szolgáltatások
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#devices') Készülékek
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#actions') Akciók
                        //- li.nav-item
                        //-     a.nav-link.js-scroll-trigger(href='#portfolio') Referenciák
                        li.nav-item
                            a.nav-link.js-scroll-trigger(href='#contact') Kapcsolat

        // Masthead        
        input#layer(type="checkbox", name="layer")
        input#bg1(type="radio", name="background", checked=true)
        input#bg2(type="radio", name="background")
        input#bg3(type="radio", name="background")
        input#bg4(type="radio", name="background")
        input#bg5(type="radio", name="background")
        input#bg6(type="radio", name="background")
        input#bg7(type="radio", name="background")
        input#bg8(type="radio", name="background")
        input#bg9(type="radio", name="background")
        input#bg10(type="radio", name="background")
        input#bg11(type="radio", name="background")
        input#bg12(type="radio", name="background")
        header.masthead
            .container.h-100
                .row.h-100.align-items-center.justify-content-center.text-center
                    .col-lg-10.align-self-end
                        h1.text-uppercase.text-blue.font-weight-bold Minőségi klímatelepítés, szerelés és karbantartás.
                        hr.divider.my-4
                    .col-lg-8.align-self-baseline
                        p.font-weight-bold.mb-5 
                            | Teljes körű kivitelezés a vásárlástól az üzembe helyezésig! 
                            br 
                            | Ingyenes felmérés és tanácsadás!
                        a.btn.btn-primary.btn-xl.js-scroll-trigger(href='#about') Ezt keresem!
        div.labels
            label(for="bg1") 1
            label(for="bg2") 2
            label(for="bg3") 3
            label(for="bg4") 4
            label(for="bg5") 5
            label(for="bg6") 6
            label(for="bg7") 7
            label(for="bg8") 8
            label(for="bg9") 9
            label(for="bg10") 10
            label(for="bg11") 11
            label(for="bg12") 12           

        // About
        section#about.page-section
            .container
                .row.justify-content-center
                    .col-lg-12.text-center
                        h3.text-white.mt-4 Munkákat elsősorban a Dunakanyarban és Vác város 50 km-es vonzáskörzetében vállalunk.
                        hr.divider.light.my-4
                        ul.list-group.list-group-flush.text-white-75.mb-4
                            li.list-group-item.bg-inherit Vállalkozásunk lakossági 
                                b.text-white inverteres split klímákkal 
                                | foglalkozik. 
                            li.list-group-item.bg-inherit Készülékek 
                                b.text-white telepítését, karbantartását 
                                | és 
                                b.text-white tisztítását 
                                | vállaljuk 
                                b.text-white rövid határidőn 
                                | belül. 
                            li.list-group-item.bg-inherit Fontos számunkra, hogy elfogadható áron, precíz és tiszta munkát adjunk át ügyfeleinknek, a megbeszélt határidőre! 
                            //- li.list-group-item Igyekszünk igényeik szerint megtalálni a legmegfelelőbb és jól működő megoldást! 

                        a.btn.btn-light.btn-xl.js-scroll-trigger(href='#services') Tovább!

        // Services
        section#services.page-section
            .container
                h2.text-center.mt-0 Szolgáltatásaink
                hr.divider.my-4

                .row
                    .col-lg-2.col-md-4.col-6.text-center
                        a.mt-5.service-link.js-scroll-trigger(href='#Service-Clean')
                            i.fas.fa-4x.fa-soap.text-primary.mb-4
                            h3.h5.mb-2 Tisztítás
                            //- p.text-muted.mb-0 Our themes are updated regularly to keep them bug free!
                    .col-lg-2.col-md-4.col-6.text-center
                        a.mt-5.service-link.js-scroll-trigger(href='#Service-Clean')
                            i.fas.fa-4x.fa-hand-sparkles.text-primary.mb-4
                            h3.h5.mb-2 Karbantartás
                            //- p.text-muted.mb-0 Our themes are updated regularly to keep them bug free!
                    .col-lg-2.col-md-4.col-6.text-center
                        a.mt-5.service-link.js-scroll-trigger(href='#Service-Install')
                            i.fas.fa-4x.fa-tools.text-primary.mb-4
                            h3.h5.mb-2 Telepítés
                            //- p.text-muted.mb-0 All dependencies are kept current to keep things fresh.
                    .col-lg-2.col-md-4.col-6.text-center
                        a.mt-5.service-link.js-scroll-trigger(href='#Service-Unmount')
                            i.fas.fa-4x.fa-recycle.text-primary.mb-4
                            h3.h5.mb-2 Leszerelés
                            //- p.text-muted.mb-0 You can use this design as is, or you can make changes!
                    .col-lg-2.col-md-4.col-6.text-center
                        a.mt-5.service-link.js-scroll-trigger(href='#Service-Prepare')
                            i.fas.fa-4x.fa-exclamation.text-primary.mb-4
                            h3.h5.mb-2 Előcsövezés
                            //- p.text-muted.mb-0 Is it really open source if it's not made with love?
                    .col-lg-2.col-md-4.col-6.text-center
                        a.mt-5.service-link.js-scroll-trigger(href='#Service-Fill')
                            i.fas.fa-4x.fa-wind.text-primary.mb-4
                            h3.h5.mb-2 Klímagáz töltés
                            //- p.text-muted.mb-0 Is it really open source if it's not made with love?
                
                
                .text-center.text-muted.mt-5 Feltüntetett áraink bruttó árak
                
                #Service-Clean.service-section    
                    .service-details.bg-light
                        h4.text-primary.text-center.mt-3 Tisztítás és karbantartás
                        div.service-details-content
                            
                            div.my-2

                                ul.list-group.list-group-flush 
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 
                                            b Alap
                                            br
                                            | Rendszeresen karbantarott készülék esetén
                                            br
                                            .small.text-muted  2 db klíma 15.000 Ft, 3 db vagy több esetén egyeztetés alapján, további kedvezménnyel
                                        span.text-nowrap 9.000 Ft 

                                //- div.d-flex.justify-content-between.align-items-center.flex-wrap.mx-2
                                //-     h5 Alap 
                                //-     h5 9.000 Ft
                                //- div.mx-2.mb-2.text-muted 
                                //-     | Rendszeresen karbantarott készülék esetén 
                                //-     br
                                //-     .small 2 db klíma 15.000 Ft, 3 db vagy több esetén egyeztetés alapján, további kedvezménnyel
                                ul.list-group.mx-3 
                                    li.list-group-item Beltéri egység szűrőjének mosása és burkolatok tisztitása!
                                    li.list-group-item Beltéri egység gomba- és baktériummentesítése vegyszeres tisztítással
                                    li.list-group-item Elektromos bekötések ellenőrzése
                                    li.list-group-item Kondenzvíz kifolyásának ellenőrzése
                                    li.list-group-item Kültéri egység tisztítása
                                    li.list-group-item Hűtőkör ellenőrzése, amennyiben szükséges hűtőközeg utántöltése (Hütöközeg árában)
                            
                            div.mt-4.mb-2

                                ul.list-group.list-group-flush 
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 
                                            b Extra
                                            br
                                            | Erősen szennyezet, régen nem takaríott készülék esetén
                                            br
                                            .small.text-muted  2 db klíma 20.000 Ft, 3 db vagy több esetén egyeztetés alapján, további kedvezménnyel
                                        span.text-nowrap 13.000 Ft 



                                //- div.d-flex.justify-content-between.align-items-center.flex-wrap.mx-2
                                //-     h5 Extra 
                                //-     h5 13.000 Ft
                                //- div.mx-2.mb-2.text-muted 
                                //-     | Erősen szennyezet, régen nem takaríott készülék esetén 
                                //-     br
                                //-     .small 2 db klíma 20.000 Ft, 3 db vagy több esetén egyeztetés alapján, további kedvezménnyel

                                ul.list-group.mx-3 
                                    li.list-group-item Beltéri egység mosása nagynyomású mosóval, a penész és porlerakódások kitakarításához
                                    li.list-group-item Beltéri egység gomba- és baktériummentesítése vegyszeres tisztítással
                                    li.list-group-item Elektromos bekötések ellenőrzése
                                    li.list-group-item Kondenzvíz kifolyásának ellenőrzése
                                    li.list-group-item Kültéri egység tisztítása
                                    li.list-group-item Hűtőkör ellenőrzése, amennyiben szükséges hűtőközeg utántöltése (Hütöközeg árában)



                #Service-Install.service-section  
                    .service-details.bg-light
                        h4.text-primary.text-center.mt-3 Telepítés
                        div.service-details-content
                            div.my-2
                                h5.text-left Új klíma telepítése kábelcsatornázással
                                ul.list-group.list-group-flush 
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 1.5 – 4 kW (3 méter csőhosszig)
                                        span.text-nowrap 50.000 Ft   
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 4 – 8 kW (3 méter csőhosszig)
                                        span.text-nowrap 60.000 Ft  
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 3 méter csövezés felett méterenként 
                                        span.text-nowrap 6.000 Ft 
                            div.mt-5
                                h5.text-left Új klíma telepítés, falba süllyesztett csövezéssel
                                div.mb-2.small.text-muted Az árak tartalmazzák a helyreállítást, a vakolást, de a festési munkálatokat nem.
                                ul.list-group.list-group-flush 
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 1.5 – 4 kW (3 méter csőhosszig)
                                        span.text-nowrap 75.000 Ft   
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 4 – 8 kW (3 méter csőhosszig)
                                        span.text-nowrap 85.000 Ft  
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span 3 méter csövezés felett méterenként 
                                        span.text-nowrap 10.000 Ft 



                #Service-Unmount.service-section   
                    .service-details.bg-light
                        h4.text-primary.text-center.mt-3 Leszerelés
                        div.service-details-content
                            div
                                ul.list-group.list-group-flush 
                                    li.list-group-item.d-flex.justify-content-between.align-items-center.bg-inherit
                                        span Kül- és beltéri készülék szakszerű leszerélése, elbontása
                                            .small.text-muted  Igény esetén a készüléket el tudjuk szállítani
                                        span.text-nowrap 25.000 Ft   
         
                #Service-Prepare.service-section
                    .service-details.bg-light
                        h4.text-primary.text-center.mt-3 Előcsövezés
                        div.service-details-content
                            div
                                ul.list-group.list-group-flush 
                                    li.list-group-item.bg-inherit
                                        span Építkezés, lakásfelújítás alkalmával érdemes előre gondolkodni. Felkészülve a későbbi klíma/klímák telepítésére, a szükséges csöveket már rögtön a falban elrejteni.
                                        .mt-2.text-muted.text-right Árajánlat felmérés alapján.

                #Service-Fill.service-section
                    .service-details.bg-light
                        h4.text-primary.text-center.mt-3 Klímagáz töltés
                        div.service-details-content
                            div
                                ul.list-group.list-group-flush 
                                    li.list-group-item.bg-inherit
                                        .mt-2.text-muted.text-right Aktuális árainkról kérem érdeklődjön 

                
                div.text-center
                    h6.mt-5 Egyéb lehetséges anyagköltségek
                    .small.text-muted A tetőtartó konzol árát a szerelés nem tartalmazza (15.000 Ft)
                    .small.text-muted A készülék által megengedett távolságnál hosszabb csövezés esetén gáz rátöltés gáz anyagárban.

                .text-center.text-muted.mt-5 Feltüntetett áraink bruttó árak


        // Devices
        section#devices.page-section
            .container
                .row.justify-content-center
                    .col-lg-12.text-center
                        h3.text-white.mt-4 Készülék ajánlatunk.                     
                        hr.divider.light.my-4
                        p.text-white-50.mb-4.text-justify.mx-2
                            | Vannak általunk preferált, elsőbbséget élvező márkák, melyek már bizonyították minőségüket és kimagaslóan jó ár-érték arányukat! Ha minket kérdez, elsősorban a 
                            b.text-white-75 Daikin
                            | és 
                            b.text-white-75 Gree 
                            | márkák kínálatát ajánljuk és igyekszünk megtalálni az Önnek legmegfelelőbb készüléket. Természetesen az alább feltüntetett 
                            b.text-white-75 egyéb márkák 
                            | bármelyikét beszerezzük és telepítjük Önnek! Továbbá 
                            b.text-white-75 teljeskörű garanciát 
                            | vállalunk! 
                        p.text-white-50.mb-4.text-justify.mx-2
                            | Gyártói garanciát csak az általunk megvásárolt készülékre tudunk biztosítani! A gyártói garancia feltétele az általunk végzett, évi kétszeri karbantartás!
                        p.text-white-50.mb-4.text-justify.mx-2
                            | A nem általunk történt beszerzés esetén garanciát a szerelésre vállalunk, melynek időtartama 2 év! 
                        h5.text-white.mt-4 Kedvenceink
                        div.d-flex.justify-content-center.align-items-center.flex-wrap
                            img(src="assets/img/daikin-logo.png").brandlogo
                            img(src="assets/img/gree-logo.png").brandlogo
                        h5.text-white.mt-4 További lehetséges márkák   
                        div.d-flex.justify-content-center.align-items-center.flex-wrap
                            img(src="assets/img/midea-logo.png").brandlogo                           
                            img(src="assets/img/mdv-logo.png").brandlogo
                            img(src="assets/img/panasonic-logo.png").brandlogo
                            img(src="assets/img/lg-logo.png").brandlogo
                            img(src="assets/img/fujitsu-logo.png").brandlogo
                            img(src="assets/img/fisher-logo.png").brandlogo
                            img(src="assets/img/toshiba-logo.png").brandlogo

        //- // Portfolio
        //- section#portfolio.page-section
        //-     .container-fluid.p-0
        //-         h2.text-center.mt-0 Referenciák
        //-         hr.divider.my-4
        //-         .row.no-gutters
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/1.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/1.jpg', alt='')
        //-                     .portfolio-box-caption
        //-                         //- .project-category.text-white-50
        //-                         //-     | Category
        //-                         .project-name Sokat
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/2.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/2.jpg', alt='')
        //-                     .portfolio-box-caption
        //-                         //- .project-category.text-white-50
        //-                         //-     | Category
        //-                         .project-name Jót
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/3.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/3.jpg', alt='')
        //-                     .portfolio-box-caption
        //-                         //- .project-category.text-white-50
        //-                         //-     | Category
        //-                         .project-name Szépet
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/4.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/4.jpg', alt='')
        //-                     .portfolio-box-caption
        //-                         //- .project-category.text-white-50
        //-                         //-     | Category
        //-                         .project-name Tisztán
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/5.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/5.jpg', alt='')
        //-                     .portfolio-box-caption
        //-                         //- .project-category.text-white-50
        //-                         //-     | Category
        //-                         .project-name Gyorsan
        //-             .col-lg-4.col-sm-6
        //-                 a.portfolio-box(href='assets/img/portfolio/fullsize/6.jpg')
        //-                     img.img-fluid(src='assets/img/portfolio/thumbnails/6.jpg', alt='')
        //-                     .portfolio-box-caption.p-3
        //-                         //- .project-category.text-white-50
        //-                         //-     | Category
        //-                         .project-name Mindenkinek



        // Contact
        section#contact.page-section
            .container
                .row.justify-content-center
                    .col-lg-8.text-center
                        h2.mt-0 Keressen bizalommal!
                        h5.mt-4 Évszaktól függetlenül, ahogy klímája, mi is egész évben dolgozunk!
                        hr.divider.my-4
                        p.text-muted.mb-5
                            | Gindert-Kele Ádám, Épületgépész EV 2600 Vác Jóhegyi Út 70
                .row
                    .col-lg-4.ml-auto.text-center.mb-5.mb-lg-0
                        a.d-block(href="tel:+36202373117")
                            i.fas.fa-phone.fa-3x.mb-3.text-muted
                            div +36 20 237 31 17
                    .col-lg-4.mr-auto.text-center.mb-5.mb-lg-0
                        a(href="https://www.facebook.com/Kele-Kl%C3%ADma-104497878439493" target="_blank") 
                            i.fab.fa-facebook.fa-3x.mb-3.text-muted
                            div facebook
                    .col-lg-4.mr-auto.text-center
                        a.d-block(href='mailto:keleklima@gmail.com')
                            i.fas.fa-envelope.fa-3x.mb-3.text-muted
                            div keleklima@gmail.com

        // Footer
        //- footer.bg-light.py-5
        //-     .container
        //-         .small.text-center.text-muted Copyright © 2021

        // Bootstrap core JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js')
        script(src='https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js')

        // Third party plugin JS
        script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js')
        script(src='https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.min.js')

        // Core theme JS
        script(src='js/scripts.js')
