$primary: #bc3a3a;
$color1:#00cbd2;
$color2:#160066;
$color3:#5d5e6f;
$color4: #007bff;
// $color4: #60708d;
$color5:#e7e7e7;


.navbar-logo {
    width: 60px;
}

.navbar-brand.phone:hover {
    color: auto !important;
}

.page-section#about {
    background-color: $color4;
}

.page-section#devices {
    background-color: $color3;
}
.page-section#portfolio {
    padding-bottom: 0;
}

.text-blue{
    color: $color2;
}
.service-details{
    padding-top: 1px;
}
.service-details-content{
    padding: 5px 30px 15px 30px
}
// .service-details h4,
// .service-details h5{
//     color:$color2;
// }

.service-link{
    display: block;
    color:$color3;
}
.service-link:hover{
    text-decoration: none;
    color:black;
}
.service-section{
    padding-top: 2rem;
}

.bg-inherit{
    background-color: inherit !important;
}