.navbar-logo {
    width: 60px;
}

.navbar-brand.phone:hover {
    color: auto !important;
}

.page-section#about {
    background-color: $color4;
}

.page-section#devices {
    background-color: $color3;
}
.page-section#portfolio {
    padding-bottom: 0;
}

.text-blue {
    color: $color2;
}

// .service-details h4,
// .service-details h5{
//     color:$color2;
// }

.service-link {
    display: block;
    color: $color3;
}
.service-link:hover {
    text-decoration: none;
    color: black;
}

.bg-inherit {
    background-color: inherit !important;
}

.service-section {
    padding-top: 2rem;

    .service-details {
        padding-top: 1px;
    }
    .service-details-content {
        padding: 10px 10px;
    }

    .list-group-item {
        font-size: 0.75em;
        padding: 0.5rem 0.5rem;
    }

    @include media-breakpoint-up(lg) {
        .list-group-flush {
            .list-group-item {
                padding: 0.75rem 1.25rem;
            }
        }
        .list-group-item {
            padding: 0.25rem 1rem;
            font-size: 1em;
        }
        .service-details-content {
            padding: 5px 30px 15px 30px;
        }
    }
}

.brandlogo {
    max-width: 10rem;
    margin: 1em;
    max-height: 4rem;
}
