// Styling for the masthead
header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - #{$navbar-height});
    // replace the masthead.jpg image in the /assets/img directory to change the image
    // if the image name change, make sure to update the url path below!
    // background: linear-gradient( to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg-masthead.jpg");
    // background: url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    h1 {
        font-size: 2.15rem;
    }
    @include media-breakpoint-up(lg) {
        height: 100vh;
        min-height: 40rem;
        padding-top: $navbar-height;
        padding-bottom: 0;
        p {
            font-size: 1.15rem;
        }
        h1 {
            font-size: 3rem;
        }
    }
    @include media-breakpoint-up(xl) {
        h1 {
            font-size: 3.5rem;
        }
    }
}

input#bg1:checked ~ .masthead {
    background-image: url("../assets/img/bg1.jpg");
}
input#bg2:checked ~ .masthead {
    background-image: url("../assets/img/bg2.jpg");
}
input#bg3:checked ~ .masthead {
    background-image: url("../assets/img/bg3.jpg");
}
input#bg4:checked ~ .masthead {
    background-image: url("../assets/img/bg4.jpg");
}
input#bg5:checked ~ .masthead {
    background-image: url("../assets/img/bg5.jpg");
}
input#bg6:checked ~ .masthead {
    background-image: url("../assets/img/bg6.jpg");
}
input#bg7:checked ~ .masthead {
    background-image: url("../assets/img/bg7.jpg");
}
input#bg8:checked ~ .masthead {
    background-image: url("../assets/img/bg8.jpg");
}
input#bg9:checked ~ .masthead {
    background-image: url("../assets/img/bg9.jpg");
}
input#bg10:checked ~ .masthead {
    background-image: url("../assets/img/bg10.jpg");
}
input#bg11:checked ~ .masthead {
    background-image: url("../assets/img/bg11.jpg");
}
input#bg12:checked ~ .masthead {
    background-image: url("../assets/img/bg12.jpg");
}

input#layer:checked ~ input#bg1:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%),
        url("../assets/img/bg1.jpg");
}
input#layer:checked ~ input#bg2:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%),
        url("../assets/img/bg2.jpg");
}
input#layer:checked ~ input#bg3:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg3.jpg");
}
input#layer:checked ~ input#bg4:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg4.jpg");
}
input#layer:checked ~ input#bg5:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg5.jpg");
}
input#layer:checked ~ input#bg6:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg6.jpg");
}
input#layer:checked ~ input#bg7:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg7.jpg");
}
input#layer:checked ~ input#bg8:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg8.jpg");
}
input#layer:checked ~ input#bg9:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg9.jpg");
}
input#layer:checked ~ input#bg10:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg10.jpg");
}
input#layer:checked ~ input#bg11:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg11.jpg");
}
input#layer:checked ~ input#bg12:checked ~ .masthead {
    background-image: linear-gradient(to bottom, #{fade-out($white, 0.2)} 0%, #{fade-out(gray, 0.6)} 100%), url("../assets/img/bg12.jpg");
}

input[name="background"] {
    display: none;
}
input[name="layer"] {
    position: absolute;
    top: 107px;
    left: 10px;
}
.labels {
    position: absolute;
    top: 90px;
    left: 30px;
    label {
        margin: 10px;
    }
}
